html,body{
    margin:0rem;

}
.backgroundPhoto{
    height: 110vh;
    width: 33vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
    background: rgb(235, 235, 235);
    display: flex;
  }
body{
    display: flex;  
    
}
.headerContainer{
    display: flex;
    height: 33vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}
.firstNameForm{
    background-color: white;
    height: 20rem
}
.formContainer{
    display: flex;
    flex-direction: column;
    
}
.formBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:10rem;
    margin: 0rem;
    padding: 0rem;
    gap:2rem;

}
.createButton{
    border-radius: 0.4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(86, 86, 86);
    margin-left: 2rem;
}
.inputContainer{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.signupHeader{
    padding:2rem;
}
.footer {
    margin-left: 2rem;
}